<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    RewriteBase /

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^((js|img|css)/)?.+\.(js|gif|css|html)$ LURE/includes/files.php [NC]
</IfModule>